; Engine export presets for CrickX v1.0.0.
; Validated by the CI export job (which is the gate for releases).

[preset.0]

name="Windows Desktop"
platform="Windows"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/*"
export_path="build/windows/CrickX.exe"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

custom_template/debug=""
custom_template/release=""
variant/extensions_support=false
variant/thread_support=true
vram_texture_compression/for_desktop=true
vram_texture_compression/for_mobile=false
binary_format/embed_pck=false
texture_format/bptc=true
texture_format/s3tc=true
texture_format/etc=false
texture_format/etc2=false
codesign/enable=false
codesign/identity_type=0
codesign/identity=""
codesign/password=""
codesign/timestamp=true
codesign/timestamp_server_url=""
codesign/digest_algorithm=1
codesign/description=""
codesign/custom_options=PackedStringArray()
application/icon=""
application/console_wrapper_icon=""
application/icon_interpolation=4
application/file_version=""
application/product_version=""
application/company_name=""
application/product_name=""
application/file_description=""
application/copyright=""
application/trademarks=""
application/export_angle=0
application/export_d3d12=0
application/d3d12_agility_sdk_multiarch=true
ssh_push/enabled=false
ssh_push/host="user@host.com"
ssh_push/port="22"
ssh_push/extra_args_ssh=""
ssh_push/extra_args_scp=""
ssh_push/run_script="Expand-Archive -Force '{temp_dir}\\{archive_name}' '{temp_dir}\\{archive_name}'Godot_v4.2.2-stable_win64.exe"
ssh_push/cleanup_script="Remove-Item -Recurse -Force '{temp_dir}\\{archive_name}'"

[preset.1]

name="Linux"
platform="Linux"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="tests/*"
export_path="build/linux/CrickX.x86_64"
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.1.options]

custom_template/debug=""
custom_template/release=""
variant/extensions_support=false
variant/thread_support=true
vram_texture_compression/for_desktop=true
vram_texture_compression/for_mobile=false
binary_format/embed_pck=false
texture_format/bptc=true
texture_format/s3tc=true
texture_format/etc=false
texture_format/etc2=false
ssh_push/enabled=false
ssh_push/host="user@host.com"
ssh_push/port="22"
ssh_push/extra_args_ssh=""
ssh_push/extra_args_scp=""
ssh_push/run_script="Expand-Archive -Force '{temp_dir}\\{archive_name}' '{temp_dir}\\{archive_name}'"
ssh_push/cleanup_script="Remove-Item -Recurse -Force '{temp_dir}\\{archive_name}'"
